#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.aboutme--group {
  width: 70vw;
  display: flex;
  justify-content: center;
}

.aboutme--text {
  width: 40vw;
  max-width: 360px;
  margin-right: 5vw;
}

.aboutme--photo {
  width: 35vw;
  max-width: 448px;
  height: 100%;
  align-self: center;
  border-radius: 50%;
}
