Nav {
  height: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav--logo {
  width: 10vw;
  min-width: 100px;
  max-width: 150px;
}
.nav--linkgroup {
  margin-left: auto;
}
.nav--menu {
  display: flex;
}
.nav--item  {
  list-style-type: none;
}
.nav--link {
  margin-left: 15px;
}
.nav--link:hover {
  color: $logo-blue;
}

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
