#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.projects--projects-group {
  width: 90vw;
  max-width: 1900px;
  max-height: 60%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projects--langs-group {
  width: 90vw;
  max-height: 140px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* project component */
.Project {
  width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem 1rem;
}
.project--video {
  width: 80%;
  max-height: 16vh;
  transition: all .2s ease-in-out;
}
.project--video:hover {
  transform: scale(1.7);
}
.project-title {
  margin: .3rem;
  text-align: center;
}
.project-link-group {
  width: 5rem;

  display: flex;
  justify-content: space-between;
}
.project-link-group__svg {
  fill: $main-text-black;
}
.project-link-group__svg:hover {
  fill: $logo-blue;
}

/* projectslang component */
.ProjectLang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.projectlang--image {
  width: 40px;
}
