/* VARIABLES */
$main-text-black: #282828;
$logo-pink: #EC7B85;
$logo-blue: #83D1E0;
$logo-grey: #797979;

/* GLOBAL */
html, body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: 0px;

  color: $main-text-black;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: $main-text-black;
}
