/* VARIABLES */
$main-text-black: #282828;
$logo-pink: #EC7B85;
$logo-blue: #83D1E0;
$logo-grey: #797979;
$background: #fafafa;

/* GLOBAL */
html, body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: 0px;

  background-color: $background;
  color: $main-text-black;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: $main-text-black;
}
h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
}
h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0;
}
h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin: .5rem 0;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: .3rem 0;
}
p {
  font-size: 1.05rem;
}
li {
  font-size: 1.05rem;
}