/* !!PLEASE USE BEM NAMING CONVENTION!! */

/* VARIABLES */
:root {
  --main-text-color: #282828;
  --logo-pink: #EC7B85;
  --logo-blue: #83D1E0;
  --logo-grey: #797979;
}
/* VARIABLES */


/* GLOBAL */
html, body {
  margin: 0px;

  color: var(--main-text-color);
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
/* GLOBAL */


/* NAV COMPONENT */
/* this margin to breakpoint one */
.Nav {  
  height: 30px;
  padding: 20px;
  
  display: flex;
  align-items: center;
}
.nav--logo {
  width: 100px;
  /* max-width: 150px;
  min-width: 100px; */
}
.nav--linkgroup {
  margin-left: auto;
}
.nav--link {
  margin-left: 15px;
}
.nav--link:hover {
  color: var(--logo-blue);
}
/* NAV COMPONENT */


/* LANDING COMPONENT */
.Landing {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.landing--group {
  height: 25vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.landing--group * {
  margin: 0px;
}
.landing--group--photo {
  width: 25vw;
  max-width: 150px;
  border-radius: 50%;
}
.landing--group--text * {
  margin-top: 2%;
}
.landing--group--text h3 {
  width: 60vw;
  max-width: 450px;
}
/* LANDING COMPONENT */


/* ABOUTME COMPONENT */
.AboutMe {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme--group {
  width: 70vw;

  display: flex;
  justify-content: space-between;
}
.aboutme--text {
  width: 30vw;
  min-width: 300px;
}
.aboutme--photo {
  object-fit: cover;
  width: 25vw;
}
/* ABOUTME COMPONENT */
