/* VARIABLES */
:root {
  --main-text-color: #282828;
  --logo-pink: #EC7B85;
  --logo-blue: #83D1E0;
  --logo-grey: #797979;
}
/* /VARIABLES */


/* GLOBAL */
html, body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: 0px;

  color: var(--main-text-color);
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
/* /GLOBAL */


/* NAV COMPONENT */
/* this margin to breakpoint one */
.Nav {  
  height: 30px;
  padding: 20px;
  
  display: flex;
  align-items: center;
  
  position: sticky;
  top: 0;
}
.nav--logo {
  width: 100px;
  /* max-width: 150px;
  min-width: 100px; */
}
.nav--linkgroup {
  margin-left: auto;
}
.nav--link {
  margin-left: 15px;
}
.nav--link:hover {
  color: var(--logo-blue);
}
/* /NAV COMPONENT */


/* LANDING COMPONENT */
#Landing {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: start;
}
.landing--group {
  height: 25vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.landing--group * {
  margin: 0px;
}
.landing--group--photo {
  width: 25vw;
  max-width: 150px;
  border-radius: 50%;
}
.typewriter {
  font-size: 2em;
}
.typewriter--cursor {
  font-size: 2.5em;
}
.landing--group--text * {
  margin-top: 2%;
}
.landing--group--text h3 {
  width: 60vw;
  max-width: 450px;
}
/* /LANDING COMPONENT */


/* ABOUTME COMPONENT */
#AboutMe {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
}
.aboutme--group {
  width: 70vw;

  display: flex;
  justify-content: space-between;
}
.aboutme--text {
  width: 30vw;
  min-width: 300px;
}
.aboutme--photo {
  object-fit: cover;
  width: 25vw;
}
/* /ABOUTME COMPONENT */


/* PROJECTS COMPONENT */
#Projects {
 height: 100vh;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 scroll-snap-align: start;
}
.projects--projects-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects--langs-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* project component */
.Project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 10px;
}
.project--image {
  max-width: 200px;
  max-height: 200px;
}
/* projectslang component */
.ProjectLang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 10px;
}
.projectlang--image {
  width: 40px;
}
/* /PROJECTS COMPONENT */


/* CONTACTME COMPONENT */
#ContactMe {
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
}
.emailme--link:hover {
  color: var(--logo-blue);
}
/* /CONTACTME COMPONENT */

/* /FOOTER COMPONENT */
  .Footer {
    position: relative;
    bottom: 60px;

    text-align: center;
  }
/* /FOOTER COMPONENT */