@media only screen and (max-width: 1080px) {
    .nav--menu {
        text-align: center;
        width: 100vw;
        height: 100vh;

        position: fixed;
        top: 0px;
        left: -110%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $background;

        transition: 0.3s;
    }

    .nav--menu.active {
        left: 0px;
        padding: 0px;
    }

    .nav--item {
        margin: 1.5rem 0;
    }
    .nav--link {
        font-size: 2rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;

        position: fixed;
        bottom: 3rem;
        right: 3rem;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}